/*font-family: 'Open Sans', sans-serif;*/


body {
    margin: 0px;
    padding: 0px;
    background-color: #333333;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    padding: 0px 0px;
    margin: 0px 0px;
}

#greaterBox {
    margin: 0px 0px;
    padding: 0px 0px;
    width: 400px;
    height: 600px;
    background-image: linear-gradient(#FFFFFF, #FAFAFA);
}

#headerBox {
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    background-color: #F2F2F2;
}

.itemDefault {
    padding: 8px 8px;
    border-radius: 4px;
    font-size: 16px;
    background-image: linear-gradient(#f8f8f8, #e9e9e9);
}

.itemComplete {
    padding: 8px 8px;
    border-radius: 4px;
    font-size: 16px;
    background-image: linear-gradient(#e0ffe4, #9effbe);
}