body {
  margin: 0px;
  padding: 0px;
  background-color: #a6bce4;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

ul {
  list-style: none;
  padding: 0px 0px;
  margin: 0px 0px;
}

li {
  list-style: none;
}

input[type="text"]:focus {
  outline: none;
}

.flexBoxList {
  display: flex;
  flex-wrap: row wrap;
}

#greaterBox {
  width: 600px;
  /* background-image: linear-gradient(to bottom right, #f8f8f8, #e9e9e9); */
}

#headerBox {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #f2f2f2;
  border-bottom: 2px solid #000000;
}

.controls {
  padding: 0px 0px;
  margin: 0px 0px;
  width: 100px;
  background-color: hotpink;
}

.deleteButton {
  background-color: limegreen;
  cursor: pointer;
}

.task {
  width: 500px;
  padding: 10px 24px;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid #8f8f8f;
}

.taskDefault {
  background-image: linear-gradient(to bottom right, #f8f8f8, #e9e9e9);
}

.taskDefault:hover {
  background-image: linear-gradient(to bottom right, #FFFFFF, #FFFFFF);
}

.taskComplete {
  background-image: linear-gradient(to bottom right, #e0ffe4, #9effbe);
}

.taskComplete:hover {
  background-image: linear-gradient(to bottom right, #9effbe, #9effbe);
}

.formDiv {
  padding: 8px 8px;
  font-size: 16px;
  background-image: linear-gradient(#bdbdbd, #666666);
}

#addForm {
  width: 65%;
  padding: 2px 2px;
  margin: 0px 8px 0px -4px;
  border: none;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 16px;
}

#addButton {
  width: 25%;
  padding: 2px 8px;
  margin: 0px 0px;
  border: 2px solid #000000;
  border-radius: 2px;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  /* box-sizing: border-box; */
}

#addButton:hover {
  width: 25%;
  padding: 2px 8px;
  margin: 0px 0px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}