/*font-family: 'Open Sans', sans-serif;*/


body {
    margin: 0px;
    padding: 0px;
    background-color: #333333;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    padding: 0px 0px;
    margin: 0px 0px;
}

#greaterBox {
    margin: 0px 0px;
    padding: 0px 0px;
    width: 400px;
    height: 600px;
    background-image: linear-gradient(#FFFFFF, #FAFAFA);
}

#headerBox {
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    background-color: #F2F2F2;
}

.itemDefault {
    padding: 8px 8px;
    border-radius: 4px;
    font-size: 16px;
    background-image: linear-gradient(#f8f8f8, #e9e9e9);
}

.itemComplete {
    padding: 8px 8px;
    border-radius: 4px;
    font-size: 16px;
    background-image: linear-gradient(#e0ffe4, #9effbe);
}

/*Icon provided by: https://css.gg/trash*/
.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
        0 0 0 2px,
        inset -2px 0 0,
        inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px
}
.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
}
.gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
}